.cardItem {
  /* border-radius: 14px !important; */
  cursor: pointer;
  margin: 5px;
  /* height: 120px; */
}

.ant-card-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  border-radius: 20px;
  word-break: break-word;
  padding: 10px;
}

.ant-card-bordered {
  border-radius: 20px;
}

.cardItem__image {
  width: 40px;
  margin-right: 5px;
}

.cardItem__image > img {
  width: 100%;
  border-radius: 10px;
}

p {
  margin-top: auto;
  margin-bottom: auto;
}

/* a > div {
    text-decoration: none;
    color: #6D6D71
}

a:hover {
    text-decoration: none
}

div > a > div {
    box-shadow: 0px 4px 15px rgba(172, 180, 188, 0.15);
    border-radius: 8px;
}

div > a > div > div > img {
    width: 80;
    height: 60;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px 10px 5px 5px;
}

.media {
    display: flex;
    align-items: center;
    font-size: 18;
    line-height: 22px;
    border-radius: 14;
    padding: 5px 0px
} */
